@* @model Stock

<div class="card">
    <div class="card-body px-2">
        <form asp-action="SaveItem">
            <h3 class="text-center">Ürün Oluşturma</h3>
            @Html.HiddenFor(c => c.Id)
            @Html.AntiForgeryToken()
            @Html.EditorFor(c => c.Name)
            @Html.EditorFor(c => c.Barcode)
            @Html.EditorFor(c => c.PackageSize)
            <select2 v-field="@Model.UnitId" v-items="@Model.UnitList"></select2>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-sm btn-info">Kaydet</button>
            </div>
        </form>
    </div>
</div> *@