@model CreateStockMovementViewModel
<div class="card">
    <div class="card-body px-2">
        <div id="movementAddArea">
            <div class="form-floating mb-3">
                <select class="form-select" id="stockId" name="StockId">
                </select>
                <label for="StockId">Ürün</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="type" name="Type">
                    @foreach (var item in Model.Types)
                    {
                        @if (item.Selected)
                        {
                            <option value="@item.Value" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Name</option>
                        }
                    }
                </select>
                <label for="Type">İşlem Türü</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="customerId" name="CustomerId">
                </select>
                <label for="CustomerId">Tedarikçi</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" min="0" asp-for="@Model.Amount" />
                <label for="Amount">Miktar</label>
            </div>
        </div>
    </div>
</div>

<script>
    $(() => {
        $("#stockId").select2({
            placeholder: "Seçiniz",
            language: "tr",
            ajax: {
                url: '/ListApi/GetStocks',
                data: function (params) {
                    return {
                        q: params.term,
                    };
                },
                processResults: function (data) {
                    return { results: data };
                }
            },
        });
        $("#customerId").select2({
            placeholder: "Seçiniz",
            language: "tr",
            ajax: {
                url: '/ListApi/GetCustomers',
                data: function (params) {
                    return {
                        q: params.term,
                        type: $('#type').val()
                    };
                },
                processResults: function (data) {
                    return { results: data };
                }
            },
        });
    });
</script>